{% extends 'base.html' %}

{% block title %}
  Statistics
{% endblock %}

{% block header %}
  <h1 class="fw-bolder">様々な計算機を準備しています</h1>
  <p class="lead mb-0">準備中です</p>
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    {% for item in calculatorList %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        {% comment %} <td><a href="{% url 'simpleCalculator' %}">{{ item.title }}</a></td> {% endcomment %}
        <td><a href="{% url item.title %}">{{ item.title }}</a></td>
        <td>{{ item.description }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
