{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block header %}
  <h1 class="fw-bolder">This is a page of product List etc.</h1>
  <p class="lead mb-0">We'll start from the basics, so let's do our best.</p>
{% endblock %}

{% block content %}
<div class="container">
  
  <h1>{{ title }}</h1>
  <form action="{% url 'calcPlus' %}" method="post">
    {% csrf_token %}
    {{ forms.as_p }}
    <input type="submit" value="click">
    <p>{{ answer }}</p>
</div>

{% endblock %}
