{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block header %}
  <h1 class="fw-bolder">This is a page of Simple Calculator.</h1>
  <p class="lead mb-0">We'll start from the basics, so let's do our best.</p>
{% endblock %}

{% block content %}
<div class="container">
  
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Calculator</button>

    </form>
    <h2>Result:</h2>
    <p>{{ result }}</p>
</div>

{% endblock %}