{% extends 'base.html' %}

{% block title %}
  Statistics
{% endblock %}

{% block header %}
  <!-- Header -->
  <header class="py-1 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder">Welcome to akmic Blog !</h1>
        <p class="lead mb-0">We are working hard to make some contents useful for you.</p>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="row">
    {% for item in object_list %}
      <!-- version 3 -->
      <div class="col-sm-6">
        <!-- Blog post -->
        <div class="card mb-1">
          <a href="{% url 'blogDetail' item.pk %}"><img class="card-img-top" src="#" alt="..." /></a>
          <div class="card-body">
            <div class="small text-muted">{{ item.updated_at }}</div>
            <h2 class="card-title h4">{{ item.title }}</h2>
            {% comment %} <p class="card-text text-truncate">{{ item.overview }}</p> {% endcomment %}
            <p class="small text-muted">{{ item.author }}</p>
            <a class="btn btn-primary" href="{% url 'blogDetail' item.pk %}">Read more →</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
