{% extends 'base.html' %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block header %}
  <p class="display-6">{{ header_h1 }}</p>
  <p>{{ header_p }}</p>
{% endblock %}

{% block content %}
  <div class="container">
    <img class="d-block img-fluid" src="#!" alt="First slide" />
    {{ object.markdownToHtml|safe }}
    <ul class="btn">
      <a href="#" class="btn btn-secondary">Return to top of page</a>
      <a href="{% url 'statisticsList' %}" class="btn btn-primary">Return to blog list</a>
      {% comment %} <a href="{% url 'statisticsUpdate' object.pk %}" class="btn btn-success">Update</a> {% endcomment %}
      {% comment %} <a href="{% url 'statisticsDelete' object.pk %}" class="btn btn-danger">Delete</a> {% endcomment %}
    </ul>
  </div>
{% endblock %}
