{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block header %}
  <h1 class="fw-bolder">{{ header_h1 }}</h1>
  <p class="lead mb-0">{{ header_p }}</p>
{% endblock %}

<div class="container-lg">
{% block content %}
  <!-- Blog list -->
  <div class="row">
    {% for item in object_list %}
        <div class="col-sm-6">
          <div class="card m-1">
            <div class="card-body">
              <div class="small text-muted">{{ item.updated_at }}</div>
              <h2 class="card-title h4">{{ item.chapter }}-{{ item.section }} {{ item.title }}</h2>
              <a class="btn btn-info" href="{% url 'statisticsDetail' item.pk %}">Read more →</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endblock %}
  </div>
