{% extends 'base.html' %}

{% block title %}
  Statistics
{% endblock %}

{% block header %}
  <!-- Header -->
  <header class="py-1 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder">This is a page to learn statistics.</h1>
        <p class="lead mb-0">We'll start from the basics, so let's do our best.</p>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="container-lg">
    <div class="row">
      {% for item in object_list %}
        <!-- version 3 -->
        <div class="col-sm-6">
          <!-- Blog post -->
          <div class="card mb-1">
            <div class="card-body">
              <div class="small text-muted">{{ item.updated_at }}</div>
              <h2 class="card-title h4">{{ item.chapter }}-{{ item.section }} {{ item.title }}</h2>
              {% comment %} <p class="small text-opacity-100">{{ item.text }}</p> {% endcomment %}
              <a class="btn btn-info" href="{% url 'statisticsDetail' item.pk %}">Read more →</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
